.plugin-notificaion-div {
    padding: 1px;
    text-align: center;
    color: white;
}
.success {
    background: #00a86b;
}

.error {
    background: #f04923;
}

.warning {
    background: #ffbf00;
}

.information {
    background: #0067a5;
}

.label-settings-admin {
    color: white;
    border-radius: 5px;
    padding: 5px;
}

input[type=radio] {
    display:none; 
}

input[type=radio]:checked + label { 
    padding: 9px;
}